@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.container {
	max-width: 970px;
	padding: 0 15px;
	margin: 0 auto; 
}

p {
	color: #6a859c;
	line-height: 1.8;
}

header nav a {
	color: #676770;
	font-size: 16px;
	transition: color 0.2s;
}

header nav a:hover {
	color: #0082f3;
}

header nav a:active {
	color: #0062b6;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header {
	padding: 10px 0;
	min-height: 101px; 
}

header nav ul { 
	display: flex;
}

header nav ul li + li {
	margin-left: 40px;
}

.logo img {
	width: 60px;
}

section.welcome {
	color: #fff;
	min-height: 550px;
	height: calc(100vh - 101px);
	padding: 150px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url("../img/night_way.jpg") center/cover;
}

.welcome h1 {
	font-size: 60px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 100px;
}

.link-primary {
	background-color: #6989ff;
	padding: 11px 30px;
}

.link {
	border: 1px solid #fff;
	padding: 10px 30px;
}

.links a {
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 4px;
	transition: background-color 0.2s, border-color 0.2s;
}

.links > * + * {
	margin-left: 20px;
}

.link-primary:hover {
	background-color: #7cc2ff;
}

.link-primary:active {
	background-color: #0f8fff;
}

.link:hover {
	border-color: #7cc2ff;
}

.link:active {
	border-color: #0f8fff;
}


